[Unit]
Description=Start Minikube and tunnel when instance is booted
After=docker.service network-online.target
Requires=docker.service
Wants=network-online.target

[Service]
Type=simple
User=ubuntu
ExecStart=/etc/systemd/system/startup-minikube-script.sh
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target